venv
as3mooh
backend
__pycache__/
db.sqlite3
*.py[cod]db.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/
.as3mooh/

# Django stuff
db.sqlite3
media/

# IDEs / editors
.vscode/
.idea/
*.swp
