/* Imported fontstyles */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.signin-container{
    background:#fff;
    padding: 2rem 2.5rem;
    border-radius: 8px;
    width: 350px;
    min-height: 450px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1) ;
    margin: 4rem auto;
}

h2{
    display: flex;
    text-align: center;
    margin-bottom: 24px;
    justify-content: center;
    

}
.form-group{
    margin-bottom: 16px;
}
.form-group label{
    display: block;
    margin-bottom: 8px;

}
.form-group input{
    justify-content: center;
    padding: 8px;
    width: 345px;
    border-radius: 7px;
    border:1px solid #ccc ;



}
.signin-btn{
    width: 100%;
    padding: 12px;
    font-family: Montserrat,Arial,sans-serif;
    display: flex;
    margin-top: 20px;
    background-color :#007bff;
    color:#fff ;
    justify-content: center;
    border-radius: 7px;
    font-size: 16px;
    border: 1px solid #ccc;

}
.signin-btn:hover{
    background:#0056b3;

}

.extra{
    text-align: center;
    margin-top: 16px;

}
.extra a{
    color: #007bff;
    text-decoration: none;
}
.extra a:hover{
    text-decoration: underline;
}



   






