<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/clients.css' %}">
    <title>Clients</title>
</head>
<body>
        <!-- the whole screen  -->
    <section class="firstSection">

        <!-- the box inwhich all the elements reside -->
        <div class="mainBox">

               <!-- the side pannel at the left -->
            <div class="sidePanel">
                <div class="locations">


                    <div class="company">
                        <div class="dj"></div>
                        <button class="dear">🚀</button>
                    </div>


                   
                    <a href="{% url 'dashboard' %}" >overview </a>
                    <a href="{% url 'clients' %}">clients</a>
                    <a href="{% url 'database' %}"  >Database</a>

                </div>
                <div class="team"></div>

            </div>
            <!--  table for the backends -->
            <table>
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Date Joined</th>
                <th>Last Login</th>
              </tr>
              {% for user in users %}
              <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.date_joined }}</td>
                <td>{{ user.last_login }}</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="5">No users registered</td>
              </tr>
              {% endfor %}
            </table>


        
    </section>
</body>
</html>