{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Database</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/database.css' %}" />
  </head>
  <body>
    <!-- the whole screen  -->
    <section class="firstSection">
      <!-- the box inwhich all the elements reside -->
      <div class="mainBox">
        <!-- the side pannel at the left -->
        <div class="sidePanel">
          <div class="locations">
            <div class="company">
              <div class="dj"></div>
              <button class="dear">🚀</button>
            </div>
            <a>
            <button class="overview">overview</button>
            </a>
            <a>
            <button class="clients">users</button>
            </a>
            <a>
            <button class="Database">Database</button>
            </a>
          </div>
          <div class="team"></div>
        </div>

        <div class="generalInfo">
          <div class="heading">
            <h2>Database</h2>
          </div>
          <div class="stats">
            <div class="legend">
              <div class="circle1"></div>

              <h1>Registered Admins</h1>

              <div class="circle2"></div>
            </div>

            <table>
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Date Joined</th>
                <th>Last Login</th>
              </tr>
              {% for user in users %}
              <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.date_joined }}</td>
                <td>{{ user.last_login }}</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="5">No users Registered</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </section>

    <div class="frontendProfiles">
      <div class="legend1">
        <div class="circle1"></div>

        <h1>Registered Admins</h1>

        <div class="circle2"></div>
      </div>

      <table class="table table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th>Username</th>
            <th>Bio</th>
            <th>Skills</th>
            <th>Profile Picture</th>
          </tr>
        </thead>
        <tbody>
          {% for dev in developers %}
          <tr>
            <td>{{ dev.username }}</td>
            <td>{{ dev.bio }}</td>
            <td>{{ dev.skills }}</td>
            <td>
              {% if dev.profile_picture %}
              <img
                src="{{ dev.profile_picture.url }}"
                alt="Profile Pic"
                width="80"
              />
              {% else %} No Image {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
