<!DOCTYPE html>
<html>
<head>
    <title>Superuser Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/adminLogin.css' %}">
</head>
<body>
    <div class="main">
        <div class="wrapper">
            <div class="logo"></div>

            <div class="Lform">
                <h2>Superuser Login</h2>
                <form method="post" action="{% url 'superuser_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
